.block.contacts-block
	.block__line.contacts__line
	.block__icon.contacts-icon
	.block__title.block__contacts-title
		p.block__title-text CONTACT
	.block__secondary-titles_wrapper
		ul.block__secondary-titles
			li.block__secondary-titles-item ADDRESS
			li.block__secondary-titles-item E-MAIL
			li.block__secondary-titles-item PHONE
			li.block__secondary-titles-item WEBSITE
		ul.block__contact-info
			li.block__contact-info-item Main Street, City.
			li.block__contact-info-item contact@domain.com
			li.block__contact-info-item 555-555-555
			li.block__contact-info-item www.yourweb.com
