html(lang="en")
head 
	meta(charset="UTF-8")
	<meta name="viewport" content="width=device-width, initial-scale=1">
	title FSD-Frontend-2-step-first-website
body
	.resume
		.container
			.left-wrapper
				include ../components/profile/profile
				include ../components/contacts/contacts
				include ../components/skills/skills
			.right-wrapper
				include ../components/education/education
				include ../components/experience/experience
				include ../components/software/software


	