html(lang="en")
head 
	meta(charset="UTF-8") 
	title FSD-Frontend-2-step-first-website
body
	.resume
		.container
			.left-wrapper
				include profile
				include contacts
				include skills
			.right-wrapper
				include education
				include experience
				include software


	