.block.skills-block
	.block__line.skills__line
	.block__icon.skills-icon
	.block__title.block__skills-title
		p.block__title-text SKILLS
	p.skill-title.first-skill-title CREATIVE
	ul.skill-bar-wrapper.block__first-skill-wrapper
		li.bar-point.filled
		li.bar-point.filled
		li.bar-point.filled
		li.bar-point.filled
		li.bar-point.filled
		li.bar-point.filled
		li.bar-point.filled
		li.bar-point.filled
		li.bar-point.filled
		li.bar-point
		li.bar-point
		li.bar-point
	p.skill-title.second-skill-title TEAMWORK
	ul.skill-bar-wrapper.block__second-skill-wrapper
		li.bar-point.filled
		li.bar-point.filled
		li.bar-point.filled
		li.bar-point.filled
		li.bar-point.filled
		li.bar-point.filled
		li.bar-point.filled
		li.bar-point.filled
		li.bar-point.filled
		li.bar-point.filled
		li.bar-point.filled
		li.bar-point
	p.skill-title.third-skill-title INNOVATE
	ul.skill-bar-wrapper.block__third-skill-wrapper
		li.bar-point.filled
		li.bar-point.filled
		li.bar-point.filled
		li.bar-point.filled
		li.bar-point.filled
		li.bar-point.filled
		li.bar-point
		li.bar-point
		li.bar-point
		li.bar-point
		li.bar-point
		li.bar-point
	p.skill-title.fourth-skill-title COMMUNICATION
	ul.skill-bar-wrapper.block__fourth-skill-wrapper
		li.bar-point.filled
		li.bar-point.filled
		li.bar-point.filled
		li.bar-point.filled
		li.bar-point.filled
		li.bar-point.filled
		li.bar-point.filled
		li.bar-point.filled
		li.bar-point.filled
		li.bar-point.filled
		li.bar-point.filled
		li.bar-point
	

