.block-wide.software-block
	.block-wide__line.software__line
	.block-wide__icon.software-icon
	.block-wide__title.block__software-title
		p.block-wide__title-text SOFTWARE
	.skillbars__wrapper
		.skill-item.photoshop-item
			p.skill-name PHOTOSHOP
			.skillbar-container
				.skillbar-filler.photoshop-filler
		.skill-item.dreamweaver-item
			p.skill-name DREAMWEAVER
			.skillbar-container
				.skillbar-filler.dreamweaver-filler
		.skill-item.illustrator-item
			p.skill-name ILLUSTRATOR
			.skillbar-container
				.skillbar-filler.illustrator-filler
		.skill-item.after-effects-item
			p.skill-name AFTER EFFECTS
			.skillbar-container
				.skillbar-filler.after-effects-filler
		.skill-item.indesign-item
			p.skill-name INDESIGN
			.skillbar-container
				.skillbar-filler.indesign-filler
		.skill-item.html-item
			p.skill-name HTML&CSS3
			.skillbar-container
				.skillbar-filler.html-filler
