.block-wide.experience-block
	.block-wide__line.experience__line
	.block-wide__icon.experience-icon
	.block-wide__title.experience-title
		p.block-wide__title-text EXPERIENCE
	.experience-block__item
		.secondary-title.secondary-title__experience COMPANY NAME <span class="secondary-title__text">// Feb 2011 - Jun 2014</span>
		.item-name YOUR JOB HERE
		p.item-info Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
	.experience-block__item
		.secondary-title.secondary-title__experience COMPANY NAME <span class="secondary-title__text">// Feb 2011 - Jun 2014</span>
		.item-name YOUR JOB HERE
		p.item-info Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
	.experience-block__item
		.secondary-title.secondary-title__experience COMPANY NAME <span class="secondary-title__text">// Feb 2011 - Jun 2014</span>
		.item-name YOUR JOB HERE
		p.item-info Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.